@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

$bd-purple-bright: #7952b3;

.bd-sidebar {
    order: 0;
    // background-color: #f5f2f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            position: sticky;
            top: 4rem;
            z-index: 1000;
            height: subtract(100vh, 4rem);
        }
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    @include media-breakpoint-up(xl) {
        flex: 0 1 320px;
    }

    .bd-sidenav {
        display: block;
    }
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;

    @include media-breakpoint-up(md) {
        @supports (position: sticky) {
            max-height: subtract(100vh, 9rem);
            overflow-y: auto;
        }
    }

    // Override collapse behaviors
    @include media-breakpoint-up(md) {
        display: block !important;
    }
}

// All levels of nav
.bd-sidebar .nav > li > a {
    display: block;
    padding: 0.25rem 1.5rem;
    @include font-size(90%);
    color: rgba(0, 0, 0, 0.65);
}

.bd-sidebar .nav > li > a:hover {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    background-color: transparent;
}

.bd-sidebar .nav > .active > a,
.bd-sidebar .nav > .active:hover > a {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    background-color: transparent;
}
